/*  ---------- Tailwind section ----------  */
@import "tailwindcss";

/* Tailwind custom colors */
@theme {
  --breakpoint-2xs: 24rem;
  --breakpoint-xs: 30rem;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  
  --color-official-yellow: #F6D02F;
  --color-official-blue: #0071CE;
  --color-official-white: #ffffff;
  --color-official-black: #000000;
  --color-official-blue-active: #001A58;
  --color-official-yellow-active: "#c7a806";
  --color-chart-title: #fff
}

/*  ---------- global CSS section ----------  */